{% extends 'base.html' %}
{% load static %}
{% block contentplaceholder %}

<style>
.collection{
  /* width: 190px;
  height: 254px; */
  /* border-radius: 15px;
  background: #e0e0e0;
  box-shadow: 10px 10px 25px #bebebe,
             -10px -10px 25px #ffffff; */
  
}
.collection-item{
  border: none !important;
}
#select-dropdown > li > span{
  color: black !important
}
.btn{
  background-color: #8c9eff !important;
  /* background: linear-gradient(145deg, #5c6bc0, #cacaca); */
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.valign-wrapper{
  /* margin-right: 10% !important;
  margin-left: 10% !important;
  margin-top: 5% !important;
  margin-right: 5% !important; */
}
</style>

<div class="container">
  <div class="row">
    <div class="col"></div>
  </div>
  <div class="row">
       <p class="col s6"> <span>   Elige un equipo para poder visualizar los puertos  <i class="material-icons teal-text darken-1">chat_bubble_outline</i> </span></p>  
  </div>
  <div class="section row">
  <div class="col s6">
        <form action="" id="portForm" name="portForm" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s6 white-text">
              <select id="address" name="address" class="black-text">
                <option selected class="black-text">Elige un equipo</option>
                <option value="172.20.237.90">CIEMAT-AL-AD-04 (172.20.237.90)</option>
                <option value="172.20.237.86">CSIC-AL-AD-03 (172.20.237.86)</option>
              </select>
              <label for="address">Equipo:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 white-text">
              <select id="port" name="port">
                  <option selected>Seleccionar el puerto</option> 
              </select>
              <label for="port">Puerto: </label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 white-text">
                <select class=""  id="type" name="type">
                    <option value="af" selected>Automático</option>
                    <option value="fa">Manual</option>
                    <option value="man">Comenzar Fault Analysis</option>
                </select>
                <label for="petition">Tipo: </label>
                </div>
              </div>
              <div class="col s6">
                  <button type="submit" class="btn waves-effect" id="applybutton">Aceptar</button>
                </div>
      </form>
    </div>

    <div class="col s6">
      <p class=""><span class="left-align" name="portname" id="portname"> </span> </p>
      <div class="row">
            <div class="col" name="fault-analysis" id="fault-analysis"></div>
            <div class="col right-align " id="finger-print" name="finger-print"></div>
    </div>
  </div>
  </div>
  <div class="divider"></div>
</div>


<div class="chart-section row">
  <!-- <div class="col s12 m4 l2"></div> -->
  <div id="chart" name="chart" class="col s12 m4 l8 valign-wrapper" ></div>  
  <!-- <div class="col s12 m4 l2"></div> -->
        </div>


<div class="container">

  <div class="section row">
    <div class="col s6" id="fp-events" name="fp-events"></div>
    <div class="col s6" id="fa-events" name="fa-events" ></div>

</div>

</div>



{% endblock %}

{% block jsbottom %}
<script src="{% static 'script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
$(document).ready(function(){
    var ports_data = {
        "172.20.237.90":[
            {"1" : "CIEMAT-URJC-IMDEA NETWORK - F1 - (1)"},
            {"2" : "CIEMAT-URJC-IMDEA NETWORK - F2 - (2)"},
            {"3" : "Imdea Software F1 - (3)"},
            {"4" : "Imdea Software F2 - (4)"},
            {"5" : "UCM F1 - (5)"},
            {"6" : "UCM F2 - (6)"},
            {"7" : "CIB F1 - (7)"},
            {"8" : "CIB F2 - (8)"},
            {"9" : "UNED F1 - (9)"},
            {"10" : "UNED F2 - (10)"},
            {"11" : "Casa Velázquez F1 - (11)"},
            {"12" : "Casa Velázquez F2 - (12)"},
            {"13" : "UPM F1 - (13)"},
            {"14" : "UPM F2 - (14)"},
            {"15" : "UAM F1 - (15)"},
            {"16" : "UAM F2 - (16)"}
                       
    ],
        "172.20.237.86":[
            {"1" : "CSIC - UC3M - IMDEA NETWORK - F1 - (1)"},
            {"2" : "CSIC - UC3M - IMDEA NETWORK - F2 - (2)"},
            {"3" : "CSICJO F1 - (3)"},
            {"4" : "CSICJO F2 - (4)"},
            {"5" : "UCM F1 - (5)"},
            {"6" : "UCM F2 - (6)"}
    ]  
    }

const selectElement = document.getElementById('address')

  selectElement.addEventListener('change', function() {
  var min = 1
  var address = selectElement.value;
  var select = document.getElementById('port'); 


  for (var i=0; i<=17; i++) {
      $('#port').children('option[value="'+i+'"]').remove();
  }
  for (var i=0;i<ports_data[address].length; i++, min++){
        var opt = document.createElement('option');
        opt.value = min;
        opt.innerHTML = ports_data[address][i][min];
        select.appendChild(opt);
        var instances = M.FormSelect.init(select, opt);
    }
})

  });


function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
};

// usando jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
};
  function csrfSafeMethod(method) {
        // estos métodos no requieren CSRF
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    };
 $("#portForm").on('submit', function(event){
      document.getElementById('applybutton').disabled=true; 
      /* document.getElementById('applybutton').innerHTML='Recibiendo información...'; */
      var url = "{% url 'ajax-alm' %}";
      var form = document.querySelector("[name='portForm']")
      var port = form.elements.port.value;
      var address = form.elements.address.value;
      var type = form.elements.type.value;
      var csrftoken = getCookie('csrftoken');
      $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
}
  });
  $.ajax({
      url : url,
      data : {
        "port": port,
        "address":address,
        "type" : type
      },
      type : "POST",
      dataType:"json",
      success: function(response){ 
        if(response['message']){
            document.getElementById('chart').innerHTML=response['message'];
            document.getElementById('fault-analysis').innerHTML='';
            document.getElementById('finger-print').innerHTML='';
            document.getElementById('fp-events').innerHTML='';
            document.getElementById('fa-events').innerHTML='';
            document.getElementById('chart').innerHTML='';
            document.getElementById('portname').innerHTML='';
            document.getElementById('applybutton').disabled=false;
        }else{
          if(response['keys'] && response['value1'] && response['value2']){
            var keys = response['keys'];
            var value1 = response['value1'];
            var value2 = response['value2'];
            var faultanalysis = response['faultanalysis'];
            var fingerprint = response['fingerprint'];
            var fa_events = response['fa_event'];
            var fp_events = response['fp_event'];
            var portname = response['portname'];
            var options = {
                chart: {
                  height: 550,
                  width: 1200,
                  type: "line",
                  stacked: false
                },
                colors: ["#424242","#8c9eff"],
                series: [
                  {
                    name: "Finger Print",
                    data: value1
                  },
                  {
                    name: "Fault analysis",
                    data: value2
                  }
                ],
                events: {
                  mounted: (chart) => {
                    chart.windowResizeHandler();
                  }
                },
                plotOptions: {
                  bar: {
                    columnWidth: "20%"
                  }
                },
                responsive: [
                    {
                      breakpoint: 700,
                      options: {
                        plotOptions: {
                          line: {
                            height:565,
                            width:760,
                          }
                        },
                        legend: {
                          position: "bottom"
                        }
                      }
                    }
                  ],
                xaxis: {
                  categories: keys,
                  type: 'numeric',
                  title:{
                    text:'KM',
                    position: "bottom",
                    style:{
                      color: "#424242",
                    }
                  },
                },
                yaxis: [
                  {
                    axisTicks: {
                      show: true
                    },
                    axisBorder: {
                      show: true,
                      color: ""
                    },
                    labels: {
                      style: {
                        colors: ""
                      }
                    },
                    title: {
                      text: "Finger Print",
                      style: {
                        color: "#424242",
                      }
                    }
                  },
                  {
                    opposite: true,
                    axisTicks: {
                      show: true
                    },
                    axisBorder: {
                      show: true,
                      color: "#8c9eff"
                    },
                    labels: {
                      style: {
                        colors: "#8c9eff"
                      }
                    },
                    title: {
                      text: "Fault analysis",
                      style: {
                        color: "#8c9eff"
                      }
                    }
                  }
                ],
                legend: {
                  horizontalAlign: "left",
                  offsetX: 40
                }
            };
            document.getElementById('fault-analysis').innerHTML='';
            document.getElementById('finger-print').innerHTML='';
            document.getElementById('fp-events').innerHTML='';
            document.getElementById('fa-events').innerHTML='';
            document.getElementById('chart').innerHTML='';
            document.getElementById('portname').innerHTML='';
            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
            document.getElementById('applybutton').innerHTML='Aceptar';
            document.getElementById('applybutton').disabled=false;
            var name = faultanalysis[23] 
            var tfa = faultanalysis[4]
            if (response['value1'] == null | !response['value1'] == null){
              document.getElementById('fault-analysis').innerHTML='No hay información disponible...';
              document.getElementById('chart').innerHTML='';

            }else {
              document.getElementById('portname').innerHTML=portname+"  ";
              createFaultAnalysisTable(faultanalysis);
              createFingerprintTable(fingerprint);
              createEventsFPTable(fp_events);
              createEventsFATable(fa_events);
            }
            
          }else{
            if (response['value1'] == null | !response['value1'] == null){
            document.getElementById('fault-analysis').innerHTML='No hay información disponible...';
            document.getElementById('finger-print').innerHTML='';
            document.getElementById('chart').innerHTML='';
            $('#applybutton').removeAttr('disabled');
          }  
          }
        }
      },
        error: function(){
          document.getElementById('fault-analysis').innerHTML='';
            document.getElementById('finger-print').innerHTML='';
            document.getElementById('fp-events').innerHTML='';
            document.getElementById('fa-events').innerHTML='';
            document.getElementById('chart').innerHTML='';
            document.getElementById('portname').innerHTML='';
          document.getElementById('chart').innerHTML="Ahora mismo no hay información disponible sobre esta gráfica...";
          document.getElementById('applybutton').disabled=false;
            }
          });
        event.preventDefault();
});


function createFaultAnalysisTable(faultanalysis){
  var ul = document.createElement("ul");
  document.getElementById('fault-analysis').appendChild(ul);
  ul.setAttribute( "class", "collection left-align");
  var header = document.createElement("li");
  header.className = "collection-item";
  header.innerHTML = "<b> Fault Analysis Results </b>";
  ul.appendChild(header);
  for (let i = 0; i < faultanalysis.length; i++){
        var li = document.createElement("li");  
        li.className = "collection-item";
        li.innerHTML = faultanalysis[i]
        ul.appendChild(li);
    };
};



function createFingerprintTable(fingerprint){
  document.getElementById('fp-events').innerHTML='';
  document.getElementById('fa-events').innerHTML='';
  var ul = document.createElement("ul");
  document.getElementById('finger-print').appendChild(ul);
  ul.setAttribute( "class", "collection left-align");
  var header = document.createElement("li");
  header.className = "collection-item";
  header.innerHTML = "<b>Fingerprint Results </b>";
  ul.appendChild(header);
  for (let i = 0; i < fingerprint.length; i++){
        var li = document.createElement("li");
        li.className = "collection-item";
        li.innerHTML = fingerprint[i]
        ul.appendChild(li);
    };
}

function createEventsFPTable(fp_events){
  var title = document.createElement("p");
  title.setAttribute("class","left-align");
  title.innerHTML = " <h6> FINGERPRINT </h6>";
  document.getElementById('fp-events').appendChild(title);
  var fp_table = document.createElement("table");
  fp_table.setAttribute("class", "responsive-table  striped right-align");
  document.getElementById('fp-events').appendChild(fp_table);
  var fp_header1 = document.createElement("thead");
  fp_table.append(fp_header1);
  var hrow = document.createElement("tr");
  hrow.setAttribute("class", "right-align");
  fp_header1.append(hrow);
  var theader1 = document.createElement("th");
  theader1.innerHTML = "Position(m)";
  hrow.append(theader1);
  var theader2 = document.createElement("th");
  theader2.innerHTML = "Reflectance(md)";
  hrow.append(theader2);
  var theader3 = document.createElement("th");
  theader3.innerHTML = "Attenuation(dB)";
  hrow.append(theader3);
  var tbody = document.createElement("tbody");
  fp_table.append(tbody)
  for(let j = 0; j < fp_events.length; j++){
      var trow = document.createElement("tr");
      var data = String(""+fp_events[j]).split(",");
      for(x = 0; x < data.length; x++){
        var td_events = document.createElement("td");
        td_events.innerHTML = data[x];
        trow.appendChild(td_events);
      
      }
      tbody.append(trow);
    };
  
};  

function createEventsFATable(fa_events){
  var title = document.createElement("p");
  title.setAttribute("class","right-align");
  title.innerHTML = "<h6> FAULT ANALYSIS </h6>";
  document.getElementById('fa-events').appendChild(title);
  /* document.getElementById('fa-events').setAttribute("class","right-align"); */
  var fa_table = document.createElement("table");
  fa_table.setAttribute("class", "responsive-table striped left-align");
  document.getElementById('fa-events').appendChild(fa_table);
  var fa_header1 = document.createElement("thead");
  fa_table.append(fa_header1);
  var hrow = document.createElement("tr");
  hrow.setAttribute("class", "left-align");
  fa_header1.append(hrow);
  var theader1 = document.createElement("th");
  theader1.innerHTML = "Position(m)";
  hrow.append(theader1);
  var theader2 = document.createElement("th");
  theader2.innerHTML = "Reflectance(md)";
  hrow.append(theader2);
  var theader3 = document.createElement("th");
  theader3.innerHTML = "Attenuation(dB)";
  hrow.append(theader3);
  var tbody = document.createElement("tbody");
  fa_table.append(tbody)
  for(let j = 0; j < fa_events.length; j++){
      var trow = document.createElement("tr");
      var data = String(""+fa_events[j]).split(",");
      for(x = 0; x < data.length; x++){
        var td_events = document.createElement("td");
        td_events.innerHTML = data[x];
        trow.appendChild(td_events);
      
      }
      tbody.append(trow);
    };
};

</script>

{% endblock %}

