body {
    display: flex;
    min-height: 140vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.card{
  height: 70rem;
  width: 90rem;
}
.chart-container{
  height: 60rem;
  width: 80rem;
}

 #select-dropdown > li > span{
  color: black !important
}
.btn{
  background-color: #8c9eff !important;
  /* background: linear-gradient(145deg, #5c6bc0, #cacaca); */
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.fault-analysis > table {
  /* margin-right: 10% !important;
  margin-left: 10% !important;
  margin-top: 5% !important;
  margin-right: 5% !important; */
  border: 1px solid !important;
}
#man > li{
  color: black !important;
}body {
  display: flex;
  min-height: 200vh;
  flex-direction: column;
  /* font-family: 'Montserrat' !important; */
}
/*  */
main {
  flex: 1 0 auto;
}


#select-dropdown > li > span{
  color: black !important
}
.apexcharts-canvas{
  margin-right:10% !important;
}


/*  Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 500px) and (max-width: 576px) { 
  .valign-wrapper{
    margin-right: 5% !important;
  }
}

/*  Medium devices (tablets, 768px and up) */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .valign-wrapper{
    margin-left: 5% !important;
  }
 
 body {
  margin: calc(var(--header-height) + 1rem) 0 0 0;
  padding-left: calc(var(--nav-width) + 2rem)
}


.navbar {
  left: 0;
  padding: 1rem 1rem 0 0
}

.body{
  padding-left: calc(var(--nav-width) + 188px)
}
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 768px) and(max-width: 992px) {
  .valign-wrapper{
    margin-left: 8% !important;
    
  }
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem)
  }
  
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
  }
  .navbar {
    left: 0;
    padding: 1rem 1rem 0 0
  }
  
  .body{
    padding-left: calc(var(--nav-width) + 188px)
  }
   }

  

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 992px) and (max-width: 1500px) { 
  .valign-wrapper{
    margin-left: 10% !important;
    
  }
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem)
  }
  
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
  }
  .navbar {
    left: 0;
    padding: 1rem 1rem 0 0
  }
  
  
  .body {
    padding-left: calc(var(--nav-width) + 188px)
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1500px) and (max-width: 2700px) { 
  .valign-wrapper{
    margin-left: 15% !important;
  }
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem)
  }
  
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
  }
  .navbar {
    left: 0;
    padding: 1rem 1rem 0 0
  }
  
  .body {
    padding-left: calc(var(--nav-width) + 188px)
  }


}